:root {
  --primary-color: white;
  --secondary-color: rgb(227, 184, 55, 59.3%);
}

.list {
  list-style-type: none;
  cursor: pointer;
  font-size: calc(1rem + 1.7vh);
  margin: -1vh;
}

.liItem {
  border: 3px solid transparent;
  border-radius: 3px;
  transition: border-color 0.3s linear;
  padding: 0.4vh 3vw;
  text-align: center;
}

.liItem:hover {
  border: 3px solid var(--secondary-color);
}

@media screen and (min-width: 1920px) {
  .list {
    font-size: calc(1rem + 2.6vh);
    margin: 1vh;
  }
}
