:root {
  --primary-color: white;
  --secondary-color: rgb(227, 184, 55, 59.3%);
  --font-color: rgb(0, 0, 0, 93.9%);
}

.game {
  width: 100%;
  height: 100%;
  padding-top: 2vh;
  background-color: rgb(255, 253, 239);
  filter: contrast(98%) brightness(98%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  color: var(--font-color);
  font-weight: 400;
  row-gap: -1%;
}

.headerGame {
  color: rgb(227, 184, 65);
  font-size: calc(2.2rem + 21vh);
  max-height: 300px;
}

.background {
  position: fixed;
  width: 106%;
  height: 106%;
  top: -1vh;
  left: 0;
  background-image: url('../../../public/assets/gameBg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: background-move 2s ease-in-out infinite alternate;
}

@keyframes background-move {
  0% {
    left: 0;
    transform: rotate(0deg);
  }

  100% {
    left: -1vh;
    transform: rotate(0.6deg);
  }
}

.game-board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  z-index: 4;
  width: 60%;
  column-gap: 12%;
}

.li-active {
  background-color: var(--secondary-color);
}

.li-right-couple {
  border: 3px solid green;
  background-color: rgb(0, 128, 0, 23.8%);
}

.li-false-couple {
  border: 3px solid red;
  background-color: rgb(255, 0, 0, 26.9%);
}

@media screen and (min-width: 1920px) {
  .game {
    /* font-size: calc(1rem + 8vh); */
  }
}

@media screen and (max-width: 1600px) {
  .game {
    padding-top: 0;
  }

  .headerGame {
    font-size: calc(2rem + 2vh + 11vw);
  }
}

@media screen and (max-width: 1200px) {
  .headerGame {
    font-size: calc(2rem + 3.5vh + 9vw);
  }
}

/* @container (max-height: 250px) {
  .headerGame {
    font-size: calc(2.2rem + 16vh);
    border: 2px solid pink;
  }
} */
