:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: black;
  background-color: #242424;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body,
#root,
h1,
p {
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}
